:root {
    /* Google font  */
    font-family: 'Alef';

    /* Colours: @AlexCristache MindfulPalettes Num. 83 */
    --silver_bird: 251, 245, 240;
    --holy_cannoli: 219, 120, 62;
    --rum_punch: 170, 66, 58;
    --tropical_forest: 2, 74, 67;
    --guerilla_forest: 20, 45, 37;    
}

.emphasis {
    color: rgb(var(--rum_punch))
}

/* Body */
body {
    background-color: rgb(var(--silver_bird));
}


/* Hyperlinks */
a {
    color: rgb(var(--holy_cannoli));
    text-decoration: none;
}
#title a {
    color: initial;
}

/* Headings */
h1 {
    position: relative;
}
h1::before {
    content: "";
    position: absolute;
    left: 15%;
    bottom: -2px;
    width: 250px;
    height: 7px;
    transform: skew(-20deg) translateX(-50%);
    z-index: -1;
    background: linear-gradient(to right, rgb(var(--silver_bird)) 0%, rgb(var(--tropical_forest)) 20%, rgb(var(--silver_bird)) 100%);
}

h2 {
    color: rgb(var(--guerilla_forest));
    position: relative;
}
h2::before {
    content: "";
    position: absolute;
    left: 7%;
    bottom: -2px;
    width: 140px;
    height: 7px;
    transform: skew(-20deg) translateX(-50%);
    z-index: -1;
    background: linear-gradient(to right, rgb(var(--silver_bird)) 0%, rgb(var(--rum_punch), 0.5) 20%, rgb(var(--silver_bird)) 100%);
}
#contact h2::before {
    left: 20%;
    background: linear-gradient(to right, rgb(var(--silver_bird)) 0%, rgb(var(--tropical_forest)) 20%, rgb(var(--silver_bird)) 100%);
}

/* Profile and image */
.title {
    display: flex;
    margin: auto;
    align-items: center;
    max-width: 200px;
}
.profile_block {
    display: flex;
    margin: auto;
    align-items: center;
    max-width: 600px;
    text-align: justify;
    align-content:first baseline;
}

/* Key content */
.content_block {
    margin: auto;
    padding-bottom: 15px;
    max-width: 900px;
    text-align: justify;
}
